.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.progress-bar {
  background: grey;
  width: 80%;
  height: 0.6vh;
  border-radius: 10px;
  position: relative;
}

.progress {
  height: 0.6vh;
  border-radius: 10px;
  position: relative;
  animation: slideLeft 3s;
  background: red;
}

@keyframes slideLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
