.about-section {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  color: white;
  width: 85%;
  margin: 0 auto;
}

.about-container {
  animation: pageScale 0.8s;
  line-height: 1.6;
}

.about-section h1 {
  font-size: 33px;
  padding-bottom: 5px;
  margin: 10px 0;
  display: inline;
}

.about-section h1 span {
  border-bottom: 1px solid rgba(255, 0, 0, 0.777);
}

.about-section .job-title {
  font-weight: 900;
}

.about-section p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
}

.about-section p:first-of-type {
  margin-bottom: 20px;
}

.about-section a {
  color: white;
}

@keyframes pageScale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.about-section text {
  fill: #fff !important;
}
