@media (max-width: 900px) and (orientation: landscape) {
  #rotate {
    position: fixed;
    background: #212121 url('./assets/rotate.jpg') no-repeat center;
    background-size: 100% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
    display: block;
    opacity: 1 !important;
  }
}
